.wrapper{
    border:1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    min-height:250px;
    /*width:250px;*/
    margin:auto;
    width:18vw;
    cursor:pointer;
    padding:5px;
}

.wrapper p{
    word-wrap: break-word;

}

.wrapper:hover{
    transform: scale(1.02);
    transition: 0.05s all;
}

.caption{
    font-weight: bold;
    font-size:24px;
}

.priority{
    /*font-weight:bold;*/
}

.responsible{
    /*font-weight: bold;*/
}

.status{
    /*font-weight: bold;*/
}

.endDate{
    /*font-weight: bold;*/
}